
.button {
  transition: box-shadow 0.3s ease;
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  box-shadow: 2px 2px 0 var(--accent-color, #000);
}

.button::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  inline-size: 100%;
  block-size: 100%;
  background-color: var(--accent-color, #000);
  transform: translateX(-100%);
  transition: transform 0.5s ease-in-out;
}

.button:hover::before {
  transform: translateX(0);
}

.button__text {
  mix-blend-mode: difference;
}

.save-button__icon {
  mix-blend-mode: difference;
}

.card__icon-button {
  transition: border-color 0.3s ease;
}

.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  border-color: var(--accent-color, #000);
}

.like-icon .contour {
  fill: var(--contour-color);
  transition: fill 0.1s linear;
}

.like-icon .core {
  transition: fill 0.3s linear 0.03s;
}

.like-icon .main-body {
  transition: fill 0.3s linear;
}

.like-icon .sparks {
  opacity: 0;
}

.like-icon {
  transform-origin: center;
}

.like-icon .heart {
  transform-origin: center;
}

.like-icon:hover .contour {
  fill: var(--contour-color);
  transition: fill 0.3s linear 0.06s;
}

.like-icon:hover .core {
  fill: var(--contour-color);
  transition: fill 0.3s linear;
}

.like-icon:hover .main-body {
  fill: var(--contour-color);
  transition: fill 0.3s linear 0.05s;
}

.like-icon:active .contour { 
  fill: var(--contour-color); 
  transition: fill 0.3s linear 0.06s; 
} 
 
.like-icon:active .core { 
  fill: var(--animation-fill-color); 
  transition: fill 0.3s linear; 
} 
 
.like-icon:active .main-body { 
  fill: var(--animation-fill-color); 
  transition: fill 0.3s linear 0.05s; 
}

.like-icon.is-liked .core {
  fill: var(--animation-fill-color);
  transition: fill 0.3s linear;
}

.like-icon.is-liked .main-body {
  fill: var(--animation-fill-color);
  transition: fill 0.3s linear 0.05s;
}

.like-icon.is-liked .contour {
  fill: var(--animation-fill-color);
  transition: fill 0.3s linear 0.06s;
}

.like-icon.is-liked .heart {
  animation: heart-scale 0.3s 0.1s ease-in;
}

@keyframes heart-scale {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.25);
  }
}

.like-icon.is-liked .sparks {
  animation: sparks-appear 0.3s 0.3s ease-in;
}

@keyframes sparks-appear {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}