:root {
  --content-width: clamp(23.4375rem, 16.2852rem + 30.5164vw, 43.75rem);
  
  --main-font: 'Inter', sans-serif;
  --accent-font: 'PressStart2P', fantasy;
  
  --text-weight: 410;
  --title-weight: 715;
  
  --bg-color: #fff;
  --text-color: #000;
  --accent-color: #000;
  --button-text-color: #fff;
  --label-stroke: #fff;
  
  --contour-color: #000;
  --animation-fill-color: #ff0000;
  
  --bg-gradient: 
    repeating-linear-gradient(
      90deg,
      #d3d3d3 0 2px,
      transparent 2px 4px
    ),
    repeating-linear-gradient(
      180deg,
      #d3d3d3 0 2px,
      transparent 2px 4px
    ),
    linear-gradient(
      180deg,
      #e7e7e7 0.01%,
      #1a1a1a 100%
    );
}